@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Oxygen:300);

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 4em;
}
h2 {
  font-family: 'Orbitron', sans-serif;
}
p {
  font-family: 'Oxygen', sans-serif;
  /*text-align: center;*/
}
#footer {
  width: 25em;
  height: 2em;
  margin: 0 auto;
  padding: 10px;
  background-color: #C1C1C0;
  border-radius: 15px;
  border: solid 3px gray;
}
#footer td {
  text-align: center;
  font-family: "Orbitron" sans-serif;
}
.textholder {
  background-color: #C1C1C0;
  border-radius: 20px;
  border: solid 3px gray;
  width: 60%;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.title {
  text-align: center;
  margin-bottom: 15px;
}

#logo {
  max-width: 678px;
  margin: 0 auto;
  margin-bottom: 15px;
}
#welcome {
  text-align: center;
}