#subtitle {
  font-family: "Oxygen" sans-serif;
  text-align: center;
  background-color: #C1C1C0;
  border-radius: 10px;
  border: solid 3px gray;
  width: 62%;
  margin: 0 auto;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

div h2{
  font-family: "Orbitron" sans-serif;
  text-align: center;
  font-size: 3em;
  margin-top: -10px;
  margin-bottom: -5px;
}

pre {
  background-color: lightgrey;
}