h1, h2 {
  font-family: 'Poiret One', cursive;
  text-shadow: 10px 7px 7px;
}
p {
  font-family: 'Oxygen', sans-serif;
  padding-left: 2em;
  font-size: 1rem;
}
body {
  padding-right: 4%;
}

@media (min-width: 1000px) {
  #title {
    font-size: 2em;
  }
  .moved {
    font-size: 1.7em;
  }
}

@media (max-width: 1000px) {
  body {
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
  }
  p {
    padding-left: 0;
  }
  h1, h2 {
    text-shadow: unset;
  }
}

.moved {
  opacity: 0; /* script.js makes the element visable */
  position: relative;
  right: 100%;
}
